dialogflow-connection.json
[
    {
        "id": "388d23f7.ebe53c",
        "type": "tab",
        "label": "satya-dialogflow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5195bee0.cc243",
        "type": "inject",
        "z": "388d23f7.ebe53c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hi",
        "payloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "66990933.0ad4c8"
            ]
        ]
    },
    {
        "id": "ae347ec2.26f25",
        "type": "debug",
        "z": "388d23f7.ebe53c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "66990933.0ad4c8",
        "type": "dialogflowv2",
        "z": "388d23f7.ebe53c",
        "dialogflow": "7135db24.868f24",
        "language": "en",
        "debug": false,
        "variable": "topic",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "6ce33beb.3eb014",
                "93af4f6b.416fa",
                "e5333001.56908",
                "1e923dc5.a4b0b2"
            ]
        ]
    },
    {
        "id": "6ce33beb.3eb014",
        "type": "debug",
        "z": "388d23f7.ebe53c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "93af4f6b.416fa",
        "type": "debug",
        "z": "388d23f7.ebe53c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values[0].stringValue",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "e5333001.56908",
        "type": "function",
        "z": "388d23f7.ebe53c",
        "name": "",
        "func": "if(msg._dialogflow.fulfillmentMessages[0].payload!==undefined){\n    msg.payload=msg._dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue; \n}\nelse {\n    msg.payload=msg._dialogflow.fulfillmentText;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "d4bf07dd.a98928"
            ]
        ]
    },
    {
        "id": "d4bf07dd.a98928",
        "type": "change",
        "z": "388d23f7.ebe53c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "ae347ec2.26f25",
                "cca077a1.be9d18"
            ]
        ]
    },
    {
        "id": "cca077a1.be9d18",
        "type": "function",
        "z": "388d23f7.ebe53c",
        "name": "",
        "func": "\nvar optsArr=msg.options;\nvar values=[];\nif(optsArr!==undefined){\n    for(i=0; i< optsArr.length; i++){\n        \n    //   \n      values.push({\"text\":optsArr[i].stringValue,\n                    \"callback_data\":optsArr[i].stringValue});\n    }\n    // delete msg.originalMessage.message;\n    msg.options=[values];\n}\nelse {\n    msg.options=null;\n}\nreturn msg;\n\n\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 80,
        "wires": [
            [
                "e9f83e38.84d42",
                "ea3471.2c70cb9"
            ]
        ]
    },
    {
        "id": "e9f83e38.84d42",
        "type": "debug",
        "z": "388d23f7.ebe53c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "1e923dc5.a4b0b2",
        "type": "debug",
        "z": "388d23f7.ebe53c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "9793bf45.eb8a1",
        "type": "link in",
        "z": "388d23f7.ebe53c",
        "name": "",
        "links": [
            "93be98eb.fb75e8",
            "ae74e2af.a8949"
        ],
        "x": 55,
        "y": 260,
        "wires": [
            [
                "8c772d7.29e69d"
            ]
        ]
    },
    {
        "id": "ea3471.2c70cb9",
        "type": "link out",
        "z": "388d23f7.ebe53c",
        "name": "",
        "links": [
            "7bbfca15.6703b4",
            "82b6d06c.be358"
        ],
        "x": 995,
        "y": 120,
        "wires": []
    },
    {
        "id": "8c772d7.29e69d",
        "type": "change",
        "z": "388d23f7.ebe53c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "contexts",
                "pt": "msg",
                "to": "_dialogflow.outputContexts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "66990933.0ad4c8"
            ]
        ]
    },
    {
        "id": "7135db24.868f24",
        "type": "dialogflowv2-token",
        "z": "",
        "name": "Hangouts ORCA"
    }
]